/*fontebi*/
@font-face {
	font-family: caps;
	src: url(../fonts/caps.ttf);
}

@font-face {
	font-family: normal;
	src: url(../fonts/normal-bold.ttf);
}



*{
	margin: 0 ;
	padding: 1;
	text-decoration: none;
	list-style: none;
	font-family: normal;
}

/*0-ashorebs zemot qvemodan, margin gverdebidan da centravs*/
body {
	max-width: 1084px;
	margin:0 auto;
}

/*yvelaferi ras display flex-shia moeqceva horizonntalurad*/
header, 
	ul {
		display: flex;

	}

	header{
		
		height: 60px;
		justify-content: space-between;
		align-items: center;
		
			
	}



	/*davwerot burgeristvis display-none, rom damalos */
	.burger {
		display: none;
	}

	.header_navigation{
		width: 214px;
		justify-content: space-between;
	}

	a {
		color: #181818;
		transition: 300ms color ease;

	}

	a:hover{
		color: #BADC58;
		transition: 300ms color ease;
	}

	a, h1, h2, h3, address {
		font-family: normal; 
	}

	.hero{
		width: 100%;
		height: calc(100vh - 60px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		
		



	}

	
	.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 240px 0px 91px 0px;
    width: 639px;
    height: 216px;
    
    

    
}
	
	.hero-content h1{
		font-size: 50px;
		font-family: normal;
		color: white;
		font-weight: normal;
		

		
	}

	.hero-content p{
		width: 332px;
		height: 41px;
		margin: 10px 517px 52px 517px;
		font-size: 14px;
		color: white;


	}

	.hero-content a{
		
		background-color: #BADC58;
		border: 1px solid #BADC58;
		color: #181818;
		padding: 13px 52px 14px 52px;
		border-radius: 10px;
		font-size:14px;
		margin: 52px 601px 91px 601px;
		
		
	}

	.hero-content a:hover{
		background-color: #BADC58;
		color: #ffffff;
	}

	.hero-img {
		width:100%;
		height: calc(100vh - 60px);
		position: absolute;
		top: 60px;
		left: 0px;
		z-index: -2;
		object-fit: cover;


	}

	.hero-content::before {
		content:"";
		display: block;
		position: absolute;
		top: 60px;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #181818;
		opacity: 0.6;
		z-index: -1;
	}

	.hero::after{
		width: 1084px;
		height: 53px;
		height: calc(100vh - 666px);
		z-index: -1;
	}



	


.dauyevi {
	width: 86px;
	color: white;
	font-size:10px;
	font-weight: bold;
}

.down{
	width: 10px;
	height: 10px;
	margin: 21px 674.6px 104px 674.4px;
}


.menu {
	width: 1084px;
	height: 1135px;


}

.menu h2{
	width: 265px;
	height: 58px;
	margin: 53px 425px 40px 394px;
	font-size: 30px;
	font-weight: normal;
	
}

.menu ul  {
	width: 1084px;
	height: 1135;
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap:wrap;
	
}



	

.menu img {
	width:232px;
	height: 225px;
	margin:10px 38px 46px 38px;

}
.menu h3{
	width: 132px;
	height: 39px;
	font-size: 16px;
	margin:0px 88px 5px 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.menu p {
	width: 148px;
	height: 32px;
	font-size: 10px;
	margin:0px 80px 20px 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.button {
	width: 164px;
	height: 46px;
	margin:0px 72px 29px 72px;
	border: 1px solid #BADC58;
	color: #BADC58;
	border-radius: 10px;
	

}

.menu a{
	width: 68px;
	height: 19px;
	font-size: 14px;
	padding: 13px 48px 14px 48px;
	
}	

.menu a:hover{
	border: 1px solid #BADC58;
	background-color: #BADC58;
	color: #181818;

}

.button-damatebulia {
	width: 164px;
	height: 46px;
	margin:0px 72px 29px 72px;
	border: 1px solid #ECF0F1;
	color: #BDC3C7;
	border-radius: 10px;

}


.button-damatebulia:hover { 
	background-color: #fff !important;
    width: 164px !important;
    margin: 0px 72px 29px 72px !important;
    border: 1px solid #ECF0F1 !important;
    color: #BDC3C7 !important;
    border-radius: 10px;
}


footer {
	width: 100%;
	height: 557px;
	background: #292C2F;
	position: absolute;
	overflow: hidden;

	
}


footer address {
	width: 1086px;
	height: 30px;
	color: #F59A63;
	font-size: 14px;
	padding-top: 27px;
	text-align: center;
	background: #FFFFFF;
	margin: 80px 100px 20px 100px;
	border-radius: 20px;
}


iframe {
	width: 1086px;
	height: 290px;
	margin: 20px 100px 20px 100px;
	border-radius: 20px;
	overflow: hidden;


}



.footer-logo{
	width: 1087px;
	display: flex;
	flex-wrap: wrap;
	height: 35px;
	margin-left: 100px;
	justify-content: space-between;
}



.footer-icons li {
	margin-right: 20px;
}





.facebook-icon {
	width: 10.39px;
	height: 20px;
	
	

}

.instagram-icon {
	width: 20px;
	height: 20px;
	
	
}

.youtube-icon {
	width: 16.88px;
	height: 20px;
	justify-content: center;
}

.academy-logo {
	width: 146px;
	height: 35px;
	

	

}

.card-logo img {
	width: 100.75px;
	height: 25px;
	
	
	

}


		

